@using BanDienThoai.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<DMDienThoai>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_LayoutSearchAdvance.cshtml";
}
    
            <table>
                <tr>
                    <td>
                        <div style="float:left;width=100%;margin-bottom:40px;height: auto;font: inherit;text-align:center;width:800px">
                            @{
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    i++;
                                    <div id="sanpham" class="list-group-item" style="height:250px">
                                        <a class="ex" href="@Url.Action("XemChiTiet","Home",new { @MaDienThoai=item.MaDienThoai} )">
                                            <div id="hinhanh"><img src="@Url.Content("~/Image/"+item.Anh)" width="150" height="150"></div>

                                        </a>
                                        <div id="thongtin"  style="height:40px">
                                            <a href="@Url.Action("XemChiTiet","Home",new { @MaDienThoai=item.MaDienThoai} )">
                                                <div title="@item.TenDienThoai"><h4 style="color:black">@item.TenDienThoai</h4></div>
                                            </a>


                                        </div>
                                        <div id="thongtin">
                                            <div title="@item.DonGiaBan" style="color:red"><b>@string.Format("{0:N0}", (item.DonGiaBan)) ₫</b></div>
                                        </div>
                                    </div>
                                    if (i % 3 == 0)
                                    {
                                        <div style="clear:both"></div>
                                    }

                                }
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Trang @(Model.PageCount<Model.PageNumber?0: Model.PageNumber)/@Model.PageCount
                        <div class="MenuTrang">

                            @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new
                       {

                           page = page,
                           searchKey = ViewBag.keyword,
                           searchKey2 = ViewBag.keyword2,
                           searchKey3 = ViewBag.keyword3,
                           searchKey4= ViewBag.keyword4,
                           searchKey5= ViewBag.keyword5,
                           searchKey6= ViewBag.keyword6,
                           searchKey7 = ViewBag.keyword7
                       }))


                        </div>
                    </td>
                </tr>
            </table>
   


<style>
    #sanpham {
        float: left;
        width: 180px;
        margin-left: 3%;
        margin-top: 5px;
    }

    #hinhanh {
        width: 150px;
        height: 150px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #thongtin {
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10pt;
        font-weight: 200;
    }

    .MenuTrang li {
        color: black;
        float: left;
        padding: 0px 16px;
        display: inline
    }
</style>

